<div class="row">
    <div class="col-md-3">
        <img class="thumbnail-image" src="{{image.thumbnail.url}}" (click)="openFullSize()">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn" (click)="removeFromCart()">Remove From Cart</button>
    </div>
    <div class="col-md-2">
        <qty-input [(qty)]="image.quantity" (onChange)="onQtyChange()"></qty-input>
    </div>
</div>
<div class="modal" [ngClass]="{'display': isZoomed}" (click)="closeFullSize()">

    <!-- The Close Button -->
    <span class="close" (click)="closeFullSize()">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" src="{{image.standard_resolution.url}}">

    <!-- Modal Caption (Image Text) -->
    <div class="caption">Caption</div>
</div>