<div class="row">
    <div class="col-md-3">
        <img class="thumbnail-image" src="{{image.images.thumbnail.url}}" (click)="openFullSize()">
    </div>
    <div class="col-md-2">
        <button *ngIf="!image.selected" type="button" class="btn" (click)="addToCart()">Add To Cart</button>
        <button *ngIf="image.selected" type="button" class="btn" (click)="removeFromCart()">Remove From Cart</button>
    </div>
</div>
<div class="modal" [ngClass]="{'display': isZoomed}" (click)="closeFullSize()">

    <!-- The Close Button -->
    <span class="close" (click)="closeFullSize()">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" src="{{image.images.standard_resolution.url}}">

    <!-- Modal Caption (Image Text) -->
    <div class="caption">Caption</div>
</div>