<div class="main">
    <div style="width: 150px;">
            <img class="thumbnail-image" src="{{image.thumbnail.url}}" (click)="openFullSize()">
            <button *ngIf="!image.selected" type="button" class="btn btn-info button" (click)="addToCart()">Add To Cart</button>
            <button *ngIf="image.selected" type="button" class="btn btn-info button" (click)="removeFromCart()">Remove From Cart</button>
    </div>
</div>
<div class="modal" [ngClass]="{'display': isZoomed }" (click)="closeFullSize()">
    <img  class="modal-content" src="{{image.standard_resolution.url}}" />
</div>